h1{
font-size: 30px;
text-align: center;
color: #de7471
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

body {
background-color: #007471;
>>>>>>> 0a0651795a7d40fccb8677ebbf4ee36951feb512
}